html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
}

nav {
    background-color: rgb(12, 9, 240);
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
}

nav ul {
    margin: 0;
    display: inline;
    padding: 10px 0px;
}

nav ul li {
    display: inline;
    padding: 5px 5px;
}

nav ul li a {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

nav a:hover {
    color: chartreuse;
}

form {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    min-height: 20vh;
    width: 38vw;
    margin: 0 auto;
    border: 1px solid grey;
    box-shadow: 10px 5px 5px black;
    border-radius: 25px;
    padding: 2%;
    /* background-image: linear-gradient(to bottom right, cyan, blue); */
    background-image: url("https://i.imgur.com/2CIm7A7.jpg");
    /* background-image: repeating-linear-gradient(red, yellow 10%, green 20%); */
}

.credentials-form input {
    max-width: 100%;
    margin: 10px 0px;
    padding: 1%;
}

.credentials-form input[type=submit] {
    padding: 20px;
}

.error-box {
  background-color: pink;
  color: red;
  font-weight: bold;
  padding: 30px 50px;
}

.success-box {
  background-color: lightgreen;
  color: green;
  font-weight: bold;
  padding: 30px 50px;
}

.container {
  margin: 0 15%;
  padding-top: 20px;
  background-color: #923cb5;
  background-color: #166d3b;
  background-color: #63d471;
  background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
  color: white;
  }

h1 {
  margin-top: 0;
  text-align: center;
  color: rgb(206, 203, 216);
}

.left,
.right {
  padding: 15px;
}

.left img {
  width: 150px;
  height: auto;
}

.left {
  float: left;
}

#favList {
  color: beige;
  font-weight: bold;
}

#myChart {
  z-index: 1;
}